body {
  background-color: #F7F9FB;
  margin: 0;
}

.itinerary-selector {
  /*background-color: #00425A;*/
  height: 100%;
  padding-bottom: 20px;
}

#map {
  width: 100%;
  height: calc(100vh - 50px);
  margin-bottom: 20px;
}

.map-container {
  padding: 0;
}

.no-margin {
  width: 100%;
}

.itinerary-selector {
  padding-left: 10px;
}

.itinerary {
  padding-left: 10px;
}

.photo-tiles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  font-size: 0;
}

.photo-tiles img {
  padding: 0.4%;
  width: 25%;
  transition: .8s opacity;
}

.screen-width {
  width: 100vw;
}

.app-title {
  font-family: 'League Script', cursive;
  font-size: 200%;
  font-weight: bold;
  color: blue;
}

